h2{
    background-color:rgb(1, 66, 1);color:bisque;
}
.manstay{
    background-color: chocolate;
}
#daisy{
    background-color: blanchedalmond;
}
h1{
    text-align:center; color: white;
}
.head:hover{
    color:skyblue
}
.head{
    color:red;
    transition: color 1s;
    transition-duration: inherit;
    font-family:fantasy;
    font-size:40px;
}
.main{
    text-align: center;
}

body {
    background-color:black;
}
p{
    color:white;
}
td{
    color:white;
}
.foot{
    text-align: center;
}
